<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.iguide.dublin"
	version 	= "1.0.0">

	<name>iguide: dublin demo</name>

	<description>
		A basic version of iguide with phonegap
	</description>

	<author email="aidan.carroll@gmail.com">
		Aidan Carroll
	</author>

	<icon src="resources/images/icon.png" gap:role="default" />
	<gap:splash src="resources/images/HTML5-splash.png">

	<gap:platforms>
		<gap:platform name="blackberry" minVersion="6" />
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
	</gap:platforms>
	
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="phonegap-version" value="1.5.0" />
	<preference name="orientation" value="portrait" />
</widget>
